*{
    margin: 0px;
    padding: 0px;
}

#header{
    width: 100%;
    height: 80px;
    background-color: black;

}

img {
    width: 20%;
    height: 80px;
    line-height: 80px;

}

input#search{
    width: 20%;
    line-height: 70px;
    float: right;
}